{% extends 'base.html' %}
{% block content %}
<title>{% block title %}ALL COLLECTIONS{% endblock %}</title>
<main class="content-for-layout focus-none" id="xo-main-content" role="main" tabindex="-1">
    <section class="xo-section color-background-1" style="--pt: 60;--pb: 20;">
        <xo-container>
            <div class="xo-page-heading xo-page-heading--center">
                <h1 class="xo-page-heading__title">All Collections</h1>
                <div class="xo-page-heading__description">
                    <p>Explore our perfume collections crafted for men and women with premium fragrances.</p>
                </div>
            </div>
        </xo-container>
    </section>

    <section class="xo-section color-background-1" style="--pt: 20;--pb: 50;">
        <xo-container class="xo-container--box">
            <xo-grid style="--lg: 4; --md: 3; --xs: 1">
                {% for category in categories %}
                <xo-animate class="xo-collection-card xo-collection-card--standard" xo-cascade="">
                    <a class="xo-collection-card__link" href="{% url 'product_by_category' category.slug %}">
                        <div class="xo-collection-card__image">
                            {% if category.image %}
                                <img src="{{ category.image.url }}" alt="{{ category.name }}" class="card-img-top" loading="lazy">
                            {% else %}
                                <img src=" " alt="No Image" class="card-img-top">
                            {% endif %}
                        </div>
                        <div class="xo-collection-card__content color-background-1">
                            <h3 class="xo-collection-card__title">{{ category.name }}</h3>
                            <div class="xo-collection-card__count">
                                {{ category.products.count }} Products
                            </div>
                        </div>
                    </a>
                </xo-animate>
                {% endfor %}
            </xo-grid>
        </xo-container>
    </section>
</main>

{% endblock %}
